<ul class="task-list">
    <li *ngFor="let i of tasks" class="task-list-item">
        <mat-card class="card-item">
            <div *ngIf="!condicao; else exibition">{{ i.description }}</div>
                <ng-template #exibition> 
                    <!-- <mat-card-content class="card-title" [(ngModel)]="i.description" (dblclick)="editTask()"> -->
                        <input type="text" [(ngModel)]="i.description" (change)="updateTask($event)">
                </ng-template>
            
            <div class="icons-container">
                <mat-checkbox class="check-box"></mat-checkbox>
                <button (click)="editTask()" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="removeTask(i.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>                
            </div>
        </mat-card>
    </li>
</ul>

